---
import { SITE_TITLE } from "../consts";
import ThemeSwitcher from "./react/ThemeSwitcher";
export const prerender = true;
---

<header
	class="border-b border-b-slate-950 py-4 dark:border-b-slate-100 dark:bg-slate-950"
>
	<nav class="container mx-auto">
		<div class="flex items-center justify-between gap-3">
			<a title="Circuit Speech homepage" href="/">
				<img
					style="filter: brightness(0) saturate(100%) invert(5%) sepia(16%) saturate(4622%) hue-rotate(204deg) brightness(97%) contrast(105%);"
					class="dark:hidden"
					src="/images/logo.svg"
					width="104"
					height="41"
					alt="Circuit Speech logo"
				/>
				<img
					width="104"
					height="41"
					class="hidden dark:block"
					src="/images/logo.svg"
				/>
			</a>
			<ThemeSwitcher client:only="react" />
		</div>
	</nav>
</header>
