---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeSwitcher from "./react/ThemeSwitcher";
---

<header
	class="border-b border-b-slate-950 p-4 dark:border-b-slate-600 dark:bg-slate-950"
>
	<nav class="container mx-auto">
		<ul class="flex items-center justify-between gap-3">
			<HeaderLink href="/">
				<img
					style="filter: brightness(0) saturate(100%) invert(5%) sepia(16%) saturate(4622%) hue-rotate(204deg) brightness(97%) contrast(105%);"
					class="dark:hidden"
					src="/images/logo.svg"
					width="104"
					height="41"
				/>
				<img
					width="104"
					height="41"
					class="hidden dark:block"
					src="/images/logo.svg"
				/>
			</HeaderLink>
			<ThemeSwitcher client:only />
		</ul>
	</nav>
</header>
