---
import { fetchPosts } from "../helpers/utilities";

const PROJECT_ID = import.meta.env.PUBLIC_SANITY_PROJECT_ID;
const DATASET = import.meta.env.PUBLIC_SANITY_DATASET;
const posts = (await fetchPosts(PROJECT_ID, DATASET)) as Posts;
---

<div>
	<div class="mb-2 text-xl font-medium">Related Articles</div>
	<ul class="flex flex-col gap-4">
		{
			posts.map((post) => (
				<li class="group hover:bg-slate-950 dark:hover:bg-slate-100">
					<a href={`/blog/${post.slug}/`}>
						<div class="border border-slate-950 p-4 dark:border-slate-100">
							<div class="group-hover:text-slate-300 dark:text-slate-300 dark:group-hover:text-slate-700">
								{post.title}
							</div>
							<div class="text-xs text-gray-400">{post._createdAt}</div>
						</div>
					</a>
				</li>
			))
		}
	</ul>
</div>
