---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<div>
	<div class="mb-2 text-xl font-medium">Related Articles</div>
	<ul class="flex flex-col gap-4">
		{
			posts.map((post) => (
				<li class="group hover:bg-slate-950 dark:hover:bg-slate-100">
					<a href={`/blog/${post.slug}/`}>
						<div class="border border-slate-950 p-4 dark:border-slate-100">
							<div class="group-hover:text-slate-300 dark:text-slate-300 dark:group-hover:text-slate-700">
								{post.data.title}
							</div>
							<div class="text-xs text-gray-400">
								<FormattedDate date={post.data.pubDate} />
							</div>
						</div>
					</a>
				</li>
			))
		}
	</ul>
</div>
